extends layout

block content

	.container
		.row
			.col-md-12.text-center
				h1.thanks-msg Thank you for your interest! Here is your eBook!
				a.btn.btn-primary.text-center.btn-xl(href=assetbase + 'docs/sample-ebook.pdf', target="_blank") Download Ebook
				i.fa.fa-5x.fa-smile-0