include layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        h2 Update User
        hr
        form.form-horizontal(action="/dashboard/update/#{id}", method="POST")
          .form-group
            label.col-sm-2.control-label Email
            .col-sm-10
              input.form-control(type='email', name="email" value="#{email}" placeholder='Email')
          .form-group
            label.col-sm-2.control-label Password
            .col-sm-10
              input.form-control(type='text', name="password" value="#{password}" placeholder='Password')
          .form-group
            .col-sm-offset-2.col-sm-10
              a.btn.btn-default(href='/dashboard')
                | Back
              button.btn.btn-success(style='margin-left: 10px', type='submit')
                | Update User