doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='canonical', href='URL here...')

		// Social: Twitter
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@scotch_io')
		meta(name='twitter:creator', content='ncerminara')
		meta(name='twitter:title', content='Bootstrap 3 Tips and Tricks You Might Not Know')
		meta(name='twitter:description', content='Bootstrap 3 has a ton of features and helpers to speed up front-end development. Sometimes you need something and you end up writing your own custom CSS and JavaScript without even realizing that Bootstrap could have done it for you....')
		meta(name='twitter:image:src', content='http://scotch.io/wp-content/uploads/2014/05/bs31.jpg')

		// Social: Facebook / Open Graph
		meta(property='fb:admins', content='579622216,709634581')
		meta(property='fb:app_id', content='1389892087910588')
		meta(property='og:url', content='http://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-might-not-know')
		meta(property='og:type', content='article')
		meta(property='og:title', content='Bootstrap 3 Tips and Tricks You Might Not Know')
		meta(property='og:image', content='http://scotch.io/wp-content/uploads/2014/05/bs31.jpg')
		meta(property='og:description', content='Bootstrap 3 has a ton of features and helpers to speed up front-end development. Sometimes you need something and you end up writing your own custom CSS and JavaScript without even realizing that Bootstrap could have done it for you....')
		meta(property='og:site_name', content='Scotch')
		meta(property='article:author', content='https://www.facebook.com/NCerminara')
		meta(property='article:publisher', content='https://www.facebook.com/scotchdevelopment')

		// Social: Google+ / Schema.org
		meta(itemprop='name', content='Bootstrap 3 Tips and Tricks You Might Not Know')
		meta(itemprop='description', content='Bootstrap 3 has a ton of features and helpers to speed up front-end development. Sometimes you need something and you end up writing your own custom CSS and JavaScript without even realizing that Bootstrap could have done it for you....')
		meta(itemprop='image', content='http://scotch.io/wp-content/uploads/2014/05/bs31.jpg')

		title Nodelander | Fast Deploying NodeJS Landing Page and Lead Capture

		// Bower CSS Deps
		link(href='lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')   

		// Google Fonts And Icons
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,600', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		// Bower JS Deps
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/bootstrap/dist/js/bootstrap.min.js')
		script(src='lib/jquery-validate/dist/jquery-validate.min.js')

		// Custom JS
		script(src='js/custom.js')

	body
		block content
